<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="./images/movie logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        TwoKT
    </title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheet.css" rel="stylesheet">
    <!-- APP CSS -->
    <link rel="stylesheet" href="../grid.css" >
    <link href="../app.css" rel="stylesheet">
</head>

<body>

    <%- include('./components/navbar') %> 

    <!-- END NAV -->
    <div class="container">
        <!-- Section Poster -->
        <div class="movie-container" style="display: flex; align-items: flex-start;">
            <div class="poster-section">
                <!-- Ảnh Poster động -->
                <img src="<%= movie.poster %>" alt="Poster phim" class="poster-img">
            </div>

        <!-- Section Thông tin Phim -->
            <div class="info-section" style="margin-left: 20px;">
                <h1><%= movie.title %> (<%= movie.ageRestriction %>)</h1>
                <ul class="movie-details">
                    <li>Thể loại: <%= movie.genre %></li>
                    <li>Thời lượng: <%= movie.duration %>'</li>
                    <li class="age-restriction"><%= movie.ageRestriction %>: Phim dành cho khán giả từ đủ <%= movie.ageRestriction.replace('+', '') %> tuổi trở lên</li>
                </ul>
                
                <h2>MÔ TẢ</h2>
                <p>
                    Đạo diễn: <%= movie.director %><br>
                    Diễn viên: <%= movie.cast.join(", ") %><br>
                    Khởi chiếu: <%= new Date(movie.releaseDate).toLocaleDateString() %>
                </p>
                
                <h2>NỘI DUNG PHIM</h2>
                <p><%= movie.synopsis %></p>

                <div class="container-two">
                    <div class="youtube-play-button">
                        <div class="inner-circle">
                            <div class="play-icon"></div>
                        </div>
                    </div>
                    <!-- Link động đến trailer -->
                    <a href="<%= movie.trailer %>" class="trailer-link" target="_blank">Xem Trailer</a>
                </div>
            </div>
        </div>

        <!-- Section Lịch Chiếu -->
        <div class="schedule-section">
        <h2>LỊCH CHIẾU</h2>
        <div class="schedule">
            <% movie.showtimes.forEach(showtime => { %>
                <div class="schedule-date">
                    <%= new Date(showtime.showAt).toLocaleDateString() %>
                    
                    <span><%= showtime.day %></span>
                </div>
            <% }) %>
        </div>
    </div>
    
    <%- include('./components/footer') %> 

    <!-- COPYRIGHT SECTION -->
    <div class="copyright">
        Copyright 2023  
    </div>
    <!-- END COPYRIGHT SECTION -->

    <!-- SCRIPT -->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <!-- APP SCRIPT -->
    <script src="../app.js"></script>

</body>
</html>